/* .dashboard {
  min-height: 100vh;
  background: #f8fafc;
  padding: 40px;
}

.dashboard-card {
  background: white;
  max-width: 700px;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.dashboard h1 {
  color: #1e293b;
  margin-bottom: 15px;
}

.logout-btn {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  background: #ef4444;
  color: white;
  cursor: pointer;
} */
 /* 
 .dashboard { 
  min-height: 100vh;
  background: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-card {
  width: 500px;
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.dashboard-card h1 {
  margin-bottom: 15px;
}

.logout-btn {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  background: #ef4444;
  color: white;
  cursor: pointer;
}*/
.dashboard {
  min-height: 100vh;
  background: linear-gradient(135deg, #f8fafc, #e0e7ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-card {
  width: 500px;
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.dashboard-card h1 {
  color: #4338ca;
  margin-bottom: 15px;
}

.logout-btn {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  background: #ef4444;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.logout-btn:hover {
  background: #dc2626;
}